/client/node_modules
/client/.next
/server/node_modules
/.vscode
/client/.env.local
/server/.env




#client
# testing
/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build



# env files (can opt-in for committing if needed)
/client/.env*

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/.next-env.d.ts