// Variables
$primary-color: #4caf50;
$secondary-color: #ffffff;
$font-color: #333;
$button-hover-color: #45a049; // Fixed hover color for buttons

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 87vh;
  background-color: #f9f9f9;

  .header {
    text-align: center;
    margin-bottom: 40px;
    h1 {
      font-size: 2.5rem;
      color: $primary-color;
      margin-bottom: 10px;
    }
    p {
      font-size: 1rem;
      color: $font-color;
      margin-bottom: 10px; // Added spacing for additional links
    }

    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .authActions {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

    .authBtnLogin,
    .authBtnSignup {
      padding: 12px 24px;
      font-size: 1rem;
      color: $secondary-color;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;

      &:hover {
        background-color: $button-hover-color; // Fixed hover color for both buttons
      }
    }

    .authBtnSignup {
      background-color: #7ccf7d; // Fixed color for signup button
    }
  }

  @media (max-width: 600px) {
    .header h1 {
      font-size: 1.8rem;
    }

    .header p {
      font-size: 0.9rem;
    }

    .authActions {
      width: 90%;
    }

    .authBtnLogin,
    .authBtnSignup {
      width: 100%;
    }
  }
}

.loadingCon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #4caf50;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
