// Navbar.scss
$primary-color: #4caf50;
$secondary-color: #ffffff;
$font-color: #333;
$footer-bg: #f4f4f4;
$button-hover-color: #1e6622;

.navbar {
  background-color: $primary-color;
  padding: 1rem;

  .navbar__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    .nav_left,
    .nav_right {
      width: 30%;
      .navbar__item {
        margin: 0;
      }

      .navbar__link {
        color: $secondary-color;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.5s, box-shadow 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 2px 0 white;
        }
      }
    }

    .nav_right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
